:root {
  --color-point: #2aac8e;
  --color-success: #5697d4;
  --color-warning: #ec8e37;
  --color-danger: #fa4a4a;
  --color-bg-gray: #f5f5f9;
  --color-disable: rgb(128 128 128 / 80%);
  --box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(78 73 73 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  --box-shadow-section: rgb(17 17 26 / 5%) 0px 1px 0px,
  rgb(17 17 26 / 10%) 0px 0px 8px;
  --color-dark1: #454545;
  --color-disabled: #f6f6f6;
  --color-disabled-text: #8e8e8e;
}